/* edit for your css */

body {
    padding:30px;
    background-color: #f3f3f3;
    font-family:Arial, sans-serif;
    font-size:18px;
}
fieldset {
    padding:40px;
    width:900px;
    background-color: #f0f0f0;
}
textarea {
    padding:15px;
}
label {
    width:150px;
}
form#nf_form {
    background-color: #e0e0e0;
    border: 1px solid black;
    margin:0px;
    padding:40px;
    width:990px;
}

iframe {
    width:600px;
    height:400px;
}

.nf_error {
    color: #c82b07;
}

.nf_success {
    color:green;
}

#nf_single_user {
    display:none;
    padding-left: 30px;
}

/* Progress Bar CSS */
#pb_progressOuter {
    margin: auto;
    width: 50%;
    display: none;
}

#pb_progressbar {
    width:50%;
    height:20px;
    color:blue;
    /* margin:auto;*/
    /* width: 496px; */
    /* height: 23px; */
}

#pb_textMessages {
    text-align: left;
    margin: auto;
    border: 3px lavender solid;
    padding: 10px;

}

#pb_buttonDiv {
    text-align: center;
}

#pb_text1 {
    display: inline;
}

#pb_text2 {
    display: inline;
}

#pb_percent {
    display: inline;
}