/* edit for your css */

body {
    padding:30px;
    background-color: #f3f3f3;
    font-family:Arial, sans-serif;
    font-size:14pt;
}
fieldset {
    padding:40px;
    width:900px;
    background-color: #f0f0f0;
}
textarea {
    padding:15px;
}
label {
    width:150px;
}
form#nf_form {
    background-color: #e0e0e0;
    border: 1px solid black;
    margin:0px;
    padding:40px;
    width:990px;
}

iframe {
    width:600px;
    height:400px;
    background-color: #fdfdfd;
}

.nf_error {
    color: #c82b07;
}

.nf_success {
    color:green;
}

#nf_single_user {
    display:none;
    padding-left: 30px;
}

/* Progress Bar CSS */
#pb_progressOuter {
    margin: auto;
    width: 50%;
    display: none;
    border-radius: 10px;
}

#pb_progressbar {
    height:20px;
    box-shadow: 7px 0px 7px #aaa;
    -webkit-box-shadow: 7px 7px 7px #aaa;
    border-radius: 10px;
    margin-bottom:10px;
}

.ui-progressbar-value {
    /*background: teal;*/
    background: linear-gradient(bottom, teal, #FFF, teal);
    background: -moz-linear-gradient(bottom, teal, #FFF, teal);
    background: -ms-linear-gradient(bottom, teal, #FFF, teal);
    background: -o-linear-gradient(bottom, teal, #FFF, teal);
    background: -webkit-linear-gradient(bottom, teal, #FFF, teal);
    box-shadow: 7px 7px 7px #aaa;
    -webkit-box-shadow: 7px 7px 7px #aaa;
    margin-bottom:10px;
    border-radius: 10px;

}

#pb_textMessages {
    text-align: left;
    font-size:12pt;
    margin: auto;
    border: 1px black solid;
    box-shadow: 7px 7px 7px #aaa;
    -webkit-box-shadow: 7px 7px 7px #aaa;
    border-radius: 10px;
    padding: 20px;

}

#pb_button {
    text-align: center;
    height:2em;
    width:30%;
    cursor: pointer;
    padding: 5px 20px;
    margin-left:18em;
    margin-bottom: 10px;
    font-size:14pt;
}

#pb_button:hover {
    background-color: #d3d3d3 ;
}

#pb_text1 {
    display: inline;
}

#pb_text2 {
    display: inline;
}

#pb_percent {
    display: inline;
}

#nf_results {
    display:none;
    padding:20px;
    margin: auto;
    width: 50%;
    background-color: #dddddd;
    text-align: center;
    border:1px solid black;
    box-shadow: 7px 7px 7px #aaa;
    -webkit-box-shadow: 7px 7px 7px #aaa;
    border-radius: 10px;
}

#nf_results h3 {
    color:black;
    margin:0 0 10px 0;
    padding:0;
    -webkit-margin-after: 5px;
}